@import './../../styles/variables.scss';

.catalog{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}



.sortwrapper{
    display: flex;
    svg{
        padding: 5px;
    }
}

.filterwrapper{
    display: flex;
    gap: 10px
}

.inputfilterwrapper{
    display: flex;
    width: 590px;
    gap: 10px;
    margin-top: 10px;

    div{
        width: 290px;
    }
}

.mainfilterwrapper{
    padding: 20px 30px;
    background-color: #2e2843;
    border-radius: 10px;
    margin: 10px 0;
}

.clear{
    display: flex;
    justify-content: end;
    cursor: pointer;
    color: $color-text-second;
    margin-left: auto;
    width: 170px;

    &:hover {
        color: white;
    }

    svg{
        margin: auto 0;
        margin-right: 5px;
    }
}

.searchwrapper{
    display: flex;
    justify-content: space-between;
    z-index: 100;
    background: $color-btn;
    border-radius: 8px;
    width: 260px;
    flex-wrap: wrap;
    padding: 15px;

    svg{
        margin: auto 8px auto 0;
    }
}

.textwrapper{
    padding: 20px 0 ;
    width: 75%;
}

.filterlist{
    display: flex;
    margin: 20px 0;
    padding: 0;
    gap: 20px;

}


@media (max-width: 1280px) { 

    .mainfilterwrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
    }
	.filterwrapper{
   flex-wrap: wrap;
   justify-content: center;
  }

  .inputfilterwrapper{
    width: 98%;
    justify-content: center;
    div{ width:45%};
    margin-bottom: 20px;
  }

  .searchwrapper{
    width: 300px;
  }
  
}
