@import '../../../styles/variables.scss';

.videoPlayerButtonsContainer {
  display: flex;
  margin: 24px 0 0 0;
  color: $color-text-second;
  //padding: 0 12px;
  .playBtn {
    width: 109px;
    height: 40px;
    padding: 10px 12px;
    color: $color-text-second;
  }
  .bookmarkBtn {
    width: -120px;
    height: 40px;
    color: $color-text-second;
  }
}
