@import '../../../styles/variables.scss';

.movieActorsCreatorsContainer {
  max-width: 1216px;
  height: 168px;
  padding: 12px 12px 0 12px;
  display: flex;
  justify-content: space-between;
  margin: 12px auto;
}
