@import './../../../styles/variables.scss';


.wrapper {
  
  svg{
    margin: auto 0;
  }
}
.subwrapper{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 250px;
  background: $color-btn;
  border-radius: 8px;
  font-weight: 700;
  height: 40px;
  
  &:hover {
    background: $color-btn-hover;
  };
  p {
    color: $color-text-second;
    padding-top: 3px;
    font-size: 12px;
  }
  div {
    margin:  auto 0;
  }
}


.subfilter{
  display: flex;
  justify-content: space-around;
  position: absolute;
  z-index: 9999;
  margin-top: 10px;
  background: $color-btn;
  border-radius: 8px;
  width: 290px;
  flex-wrap: wrap;
}


@media (max-width: 1280px) { 
	.subwrapper{
   width: 300px;
  }
}