@import './../../../styles/variables.scss';


.wrapper {
  
  svg{
    margin: auto 0;
  }
}
.subwrapper{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  width: 250px;
  background: $color-btn;
  border-radius: 8px;
  font-weight: 700;
  height: 40px;
  
  &:hover {
    background: $color-btn-hover;
  };
  p {
    color: $color-text-second;
    padding-top: 3px;
    font-size: 12px;
  }
  div {
    margin:  auto 0;
  }
}


.subfilter{
  display: block;
  position: absolute;
  z-index: 9999;
  margin-top: 10px;
  background: $color-btn;
  border-radius: 8px;
  width: 590px;
  padding: 20px 20px;

}


.headfilter{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  padding: 10px 0 20px;
}

.secondfilter{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  text-align: start;
  margin:  0 auto;
  gap: 20px;
  padding: 20px 0;
  font-size: 12px;
}


@media (max-width: 1280px) { 
	.subwrapper{
   width: 300px;
  }
}