@import './../../../styles/variables.scss';

.wrapper{
   width: 40%;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.switcher select {
  width: 99px;
  height: 30px;
}