@import './../../../styles/variables.scss';

.wrapper{
   width: 120px;
   display: block;
   justify-content: center;
   align-items: center;
   background: #2e2843;;
   text-align: center;
   padding: 5px;
   border-radius: 10px;
   &:hover {
      background: $color-btn-hover;
      border: 1px solid rgba(255, 255, 255, 0.353)
      
    };

   img{
    width: 50px;
   }
}


.wrappermini{
   width: 70px;
   display: block;
   justify-content: center;
   align-items: center;
   background: $color-btn;
   text-align: center;
   padding: 5px 0;
   border: 1px solid rgba(255, 255, 255, 0.443);
   border-radius: 10px;
   &:hover {
      background: $color-btn-hover;
    };

   img{
    width: 30px;
   }
   p {
      font-size: 12px;
   }
}

.textlist{
   background: none;
   padding: 0;
   font-size: 14px;
}

.secondwrapper{
   display: flex;
   justify-content: space-between;
}