@import './../../../styles/variables.scss';

.wrapper{
   width: 120px;
   display: block;
   justify-content: center;
   align-items: center;
   background: #2e2843;;
   text-align: center;
   padding: 5px;
   border-radius: 10px;

   img{
    width: 50px;
   }
}
