@import './variables.scss';

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
	position: relative;
	display: grid;
	width: 100%;
	margin: 0 auto;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-color: $color-background;
  color: $color-text;
  // &::-webkit-scrollbar {
	// 	width: 0px;
	// }
	overflow-x: hidden; 
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#root {
	display: flex;
	margin: 0 auto;
	width: 1250px;
	justify-self: center;
	flex-direction: column;
}


@media (max-width: 1280px) { 
	#root {
		width: 768px;
		font-size: 14px;
	}
}

@media (max-width: 769px) { 
	#root {
		width: 100%;
		font-size: 12px;
	}
}

@media (max-width: 641px) { 
	#root {
		width: 100%;
		font-size: 10px;
	}
}

@media (max-width: 481px) { 
	#root {
		width: 100%;
		font-size: 8px;
	}
}

