$color-background: #100E19;
$color-text: #ffffff;
$color-text-second: #a5a1b2;
$color-btn: #1f1b2e;
$color-btn-hover: #3c3555;
$color-error: #fb4e4e;
$color-accent: #FFA31A;
$color-gray: #e0e0e0;
$color-light-gray: #e8e8e8;
$color-gray-text: #a8a8a8;