@import './../../../styles/variables.scss';

.btn {
  background: $color-btn;
  display: block;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  p{
    padding: 10px 40px;
    color: white;
    
  };
  &:hover {
    background: $color-btn-hover;
  };
}

.icon{
  width: 20px;
  padding: 3px;
}

