.container {
	display: flex;
	flex-direction: column;
	gap: 30px;

	.slider__block {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;
		//flex-direction: column;

		//gap: 10px;
	}

	.loyalty__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		gap: 20px;
	}
}
