@import '../../../../styles/variables.scss';

.movieActorCreatorContainer {
  width: 88px;
  max-height: 144px;
  display: flex;

  flex-direction: column;

  .linkContainer {
    color: $color-text-second;

    &:hover {
      color: $color-text;
    }
    .movieActorCreatorImgContainer {
      width: 88px;
      max-height: 88px;
      border-radius: 50%;
      margin: 0 auto 6px;
      padding: 0 24px 0 0;

      .movieActorCreatorImg {
        border-radius: 50%;
        width: 88px;
        max-height: 88px;
      }
    }
    .movieActorCreatorName {
      font-size: 13px;
      font-weight: 500;
    }
    .actorOrCreator {
      font-size: 13px;
      font-weight: normal;
    }
  }
}
