@import '../../../../styles/variables.scss';
.modalTriggerBtn {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background-color: $color-btn;
  font-size: 15px;
  font-weight: 700;
  color: $color-text-second;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.modalTriggerBtn:hover {
  background-color: $color-btn-hover;
  color: $color-text;
  transition: none;
}

.modal {
  position: absolute;
  margin-top: -35px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: black;
  opacity: 0.8;
  z-index: 5;
}

.modalContainer {
  display: flex;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rebeccapurple;
}
